/* 头部样式 */

.index-header {
  background-color: #0e90d2;
  border-color: #0b6fa2;
  color: #eee;
  height: 70px;
  border-width: 0 0 1px;
  border-style: solid;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.index-header-right {
  cursor: pointer;
}


/* 中间样式 */

.index-content {
  position: absolute;
  top: 71px;
  bottom: 26px;
  width: 100%;
  background-color: #FFF;
}


/* 导航 */

.navbar-list {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 180px;
  background-color: #f1f8fc;
  border: 1px solid #bdd0db;
}

.navbar-list>li {
  line-height: 40px;
  text-indent: 2em;
  font-size: 13px;
  width: 100%;
  position: relative;
}

.navbar-title-img {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-title {
  background-color: #0e90d2;
  color: #fff;
  font-weight: 700;
  font-size: 14px!important;
}

.navbar-item {
  border-bottom: 1px solid #bdd0db;
  cursor: pointer;
}

.navbar-item-wrap {
  position: relative;
}

.navbar-item-arrow {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 10px;
}

.navbar-item-arrow.down {
  display: none;
}

.navbar-sub-list {
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
}

.navbar-sub-item {
  padding-left: 20px;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  position: relative;
}

.navbar-sub-item::after {
  content: '';
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
  position: absolute;
  left: 30px;
  top: 12px;
}


/* 导航激活的样式 */

.navbar-item.active .navbar-item-wrap {
  background-color: #6ec673;
  border-color: #72b877;
  color: #fff;
}

.navbar-item.active .navbar-item-arrow {
  display: none;
}

.navbar-item.active .navbar-item-arrow.down {
  display: block;
}

.navbar-item.active .navbar-sub-list {
  display: block;
}


/* 二级导航激活 */

.navbar-sub-item.active {
  background-color: #d9e0e4;
}


/* ifram 内容 */

.iframe-content {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 200px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #bdd0db;
}

.sub-header {
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  background-color: #f1f8fc;
  border-bottom: 1px solid #c1d3de;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.sub-header::after {
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
}

.sub-sub-header {
  background-color: #f1f8fc;
  padding-left: 15px;
  height: 35px;
  line-height: 35px;
  position: relative;
  border-bottom: 1px solid #c1d3de;
}

.sub-header-img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;
}


/* 底部样式 */

.index-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  background-color: #0e90d2;
  border-color: #0b6fa2;
  border-width: 1px 0 0;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


/* 员工添加样式 */

.staff-add-form {
  padding: 30px;
  font-size: 14px;
}

.staff-add-btns .btn {
  margin: 0 10px;
  padding: 0 30px;
}


/* 职员列表 */

.staff-operation {
  line-height: 35px;
  height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #c1d3de;
  background-color: #e8f6ff;
}

.staff-operation>li {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.staff-operation>li>a {
  display: block;
  text-decoration: none;
  color: #333;
}

.staff-icon {
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 4px;
}


/* 登录样式 */

.login-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #0e90d2;
}

.login-part {
  width: 640px;
  height: 640px;
  margin: 80px auto;
  padding-top: 15px;
}

.login-header {
  margin: 0 auto;
  width: 590px;
  height: 161px;
}

.login-content {
  margin-top: 20px;
}

.login-label {
  display: block;
  width: 320px;
  height: 45px;
  line-height: 45px;
  margin: 10px auto;
}

.login-text {
  font-size: 18px;
  display: inline-block;
  width: 70px;
}

.login-input {
  width: 200px;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid #999;
  border-radius: 4px;
}

.login-sms {
  width: 100px;
}

#sms-img {
  width: 100px;
  vertical-align: middle;
  cursor: pointer;
}

.login-btn {
  width: 100px;
  display: block;
  margin: 20px auto 0;
  line-height: 2.5;
}

.login-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 15px;
  color: #333;
  text-align: center;
}